<table class="table table-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Picture</th>
    </tr>
    {{#if products}}
        {{#each products}}
        <tr>
            <td>{{this.product_name}}</td>
            <td>{{this.price}}</td>
            <td><img src="{{this.thumbnail}}" alt="productPicture"></td>
        </tr>
        {{/each}}
    {{else}}
        <tr>
            <td colspan="100%">Nothing to see here... Yet!</td>
        </tr>
    {{/if}}
</table>