{{#if messages}}
    {{#each messages}}
    <p><b>{{this.email}}</b> <span class="date">[{{this.date}}]:</span> {{this.message}}</p>
    {{/each}}
{{else}}
    <p>No messages yet... Why don't you write something?</p>
{{/if}}