<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Picture</th>
    </tr>
    {{#if dataExists}}
        {{#each items}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
            <td><img src="{{this.thumbnail}}" alt="productPicture" style="height: 100px"></td>
        </tr>
        {{/each}}
    {{else}}
        <tr>
            <td>Nothing to see here... Yet!</td>
        </tr>
    {{/if}}
</table>