<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card text-white bg-success m-5 mx-5">
                <div class="card-body">
                    <h2>Welcome, {{user}}!</h2>
                </div>
            </div>
        </div>
    </div>

<h1>Add a new product:</h1>
    <div class="row">
        <div class="col-sm-12">
            <form>
                <input type="text" name="name" id="product_name" placeholder="Name">
                <input type="text" name="price" id="price" placeholder="Price">
                <input type="text" name="thumbnail" id="thumbnail" placeholder="Thumbnail">
                <input type="submit" value="Upload product" class="submit" onclick="postProduct()"/>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="productTable" class="text-center"></div>
        </div>
    </div>

    <form>
        <div id="ratio"></div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <small id="emailHelp" class="form-text text-muted">An email address is mandatory in order to send a message.</small>
        <input type="text" class="form-control" id="name" placeholder="Enter name">
        <input type="text" class="form-control" id="last_name" placeholder="Enter last name">
        <input type="text" class="form-control" id="age" placeholder="Enter age">
        <input type="text" class="form-control" id="alias" placeholder="Enter alias">
        <input type="text" class="form-control" id="avatar" placeholder="Enter avatar">

        <div id="chatBox"></div>
        <div class="form-row">
            <div class="form-group col-10">
                <input class="form-control" id="message" placeholder="Send a message...">
            </div>
            <button type="submit" class="btn btn-primary col-2" onclick="sendMessage()">Send</button>
        </div>
    </form>
</div>
